# Auto detect text files and perform LF normalization
* text=auto
git init
git add .
git commit -m "First commit - Cyberpunk Portfolio"
git branch -M main
git remote add origin https://github.com/Sachin-2304/cyberpunk-portfolio.git
git push -u origin main
